*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(186, 215, 216);
}

.calculator{
    padding: 20px;
    border: 2px solid rgb(72, 72, 72);
    border-radius: 16px;
    box-shadow: 0px 3px 15px rgb(247, 247, 246);
    background: rgb(132, 130, 130);
}

input{
    width: 320px;
    padding: 24px;
    margin: 10px;
    background: rgb(95, 94, 94);
    border: solid 2px rgb(137, 136, 136);
    border-radius: 16px;
    box-shadow: inset 0px 0px 8px gray;
    font-size: 65px;
    text-align: right;
}

input::placeholder{
    color: #fff;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: #fff;
    background: rgb(81, 81, 81);
    font-size: 24px;
    cursor: pointer;
    border: solid 1px rgb(28, 28, 28);
    border-radius: 15px;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2.8px 2.8px rgba(0, 0, 0, 0.2);
}

.ac, .del{
    font-size: 20px;
}

button:hover{
    color: #fff;
    background: #da6c0b;
}

.equalBtn{
    background: #da6c0b;
}

.operator{
    color: #da6c0b;
}